services:
  app:
    build: .
    container_name: backend-app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/prod_db
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: backend-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: prod_db
    ports:
      - "5432:5432"
