@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;
}
/* -- Fontes -- */
body.font-large {
  font-size: 115%; /* Aumenta todo o texto do site */
}
body.font-small {
  font-size: 90%; /* Diminui todo o texto do site */
}
body.readable-font {
  /* Você precisará importar esta fonte no seu projeto, se quiser usá-la */
  font-family: 'OpenDyslexic', Arial, sans-serif !important; 
}

/* -- Cores e Contraste -- */
body.grayscale {
  filter: grayscale(100%);
}
body.high-contrast {
  background-color: #000 !important;
  color: #FFF !important;
}
/* No alto contraste, força links e botões a terem estilos visíveis */
body.high-contrast a, 
body.high-contrast button {
  color: #FFFF00 !important; /* Amarelo brilhante */
  border: 1px solid #FFFF00 !important;
}
body.negative-contrast {
  filter: invert(100%) hue-rotate(180deg);
}

/* -- Links -- */
body.links-underline a {
  text-decoration: underline !important;
}